<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="configBuilders" type="System.Configuration.ConfigurationBuildersSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" restartOnExternalChanges="false" requirePermission="false" />
  </configSections>
  <configBuilders>
    <builders>
      <add name="Environment" type="Microsoft.Configuration.ConfigurationBuilders.EnvironmentConfigBuilder, Microsoft.Configuration.ConfigurationBuilders.Environment, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </builders>
  </configBuilders>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings configBuilders="Environment">
    <add key="ClientId" value="1a536ac5-d54d-4bea-bb74-33fdeaeb0522" />
    <add key="TenantId" value="60114a48-845c-40d5-a001-49b736d44855" />
    <add key="ClientSecret" value="ADD_TO_ENVIROMENT_VARIABLES" />
    <add key="ImpersonatedUser" value="SharedMailbox001@rekcirf.onmicrosoft.com" />
  </appSettings>
</configuration>